/* Forms */
// Form Elements
input[type=text],
input[type=tel],
input[type=email],
input[type=number],
input[type=password], 
textarea,
select {
  	.basefont !important;
}
option,
select option,
.browser-default.custom-select option {
	font-size: 1em !important;
}
.form-control {
    font-size: 1em;
 	font-weight: 300;
	text-shadow: none;
}
.form-control {
	//margin: 0 0 10px 0;
}
.custom-select {
	line-height: 1;
}
.adminForm label {
	font-size: 0.85em;
	font-weight: 400;
	line-height: 1;
}
.checkbox-wrap {
	padding-bottom: 1em;
}
p.checkbox {
	margin-bottom: 0;
}
.combobox {
	background: &#9660;
}
input[type=text].readonly,
input[type=tel].readonly,
input[type=email].readonly,
input[type=number].readonly,
input[type=password].readonly, 
textarea.readonly,
select.readonly {
	pointer-events: none;
}
.anti {
	width: 0;
	height: 0;
	overflow: hidden;
}
.coverForm {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 900;
}
.error {
    font-size: 0.85em;
    color: #ff0000;
    font-style: italic;
    height: auto;
    max-height: 3em;
    overflow: visible;
    margin: 0.15em 0 0 0;
    padding: 0;
}