/* Printed Reports */
.print {
	.basefont;
}
.print h2 {
	padding-top: 1em;
}
.print .day {
	min-height: 5vw;
}
.print .agenda-event-button {
	padding: 0.5rem 0.5rem;
}
.print .p-1 {
	padding: .15rem .15rem 0 .15rem !important;
}
.print .p-2 {
	padding: 0 0.5rem !important;
}
.print .schedule-wrap {
	page-break-inside: avoid;
}
.print-page {
	page-break-after: always;
}
.print table {
	border: 1px solid @lite-grey;
}
.print .agenda .thead-dark,
.print .agenda .thead-dark tr
.print .agenda .thead-dark th {
	background: none;
	color: #000;
}
.print .agenda .agenda-date {
	//color: #000;
	padding: 1px;
}
.print .agenda .agenda-date .dayofmonth {
	//position: relative;
	//width: auto;
	font-size: 2.5em;
	line-height: 1;
	//float: none;
	//text-align: left;
	//margin-right: 0;
	//color: inherit !important;
}
.agenda .agenda-date .shortdate {
	font-size: 0.75em; 
}
.print .bg-dark {
	background: none;
} 
.print .text-white {
	color: #000;
}
.print .no-border,
.print .no-border td {
	border: none !important;
}
/*.print h6 {
	font-weight: bold;
}*/

@media print {
	@page {
		//size: landscape !important;
		size: a3;
	}
	body { 
		.basefont !important;
    }
	* {
		-webkit-print-color-adjust: exact;
				print-color-adjust: exact;
		transition: none !important
	}
	
	*,
	*::before,
	*::after {
		text-shadow: none !important;
		box-shadow: none !important;
	  }
	  a:not(.btn) {
		text-decoration: underline;
	  }
	  abbr[title]::after {
		content: " (" attr(title) ")";
	  }
	  pre {
		white-space: pre-wrap !important;
	  }
	  pre,
	  blockquote {
		border: 1px solid #adb5bd;
		page-break-inside: avoid;
	  }
	  thead {
		display: table-header-group;
	  }
	  tr,
	  img {
		page-break-inside: avoid;
	  }
	  p,
	  h2,
	  h3 {
		orphans: 3;
		widows: 3;
	  }
	  h2,
	  h3 {
		page-break-after: avoid;
	  }
	  body {
		min-width: 992px !important;
	  }
	  .container {
		min-width: 992px !important;
	  }
	  .navbar {
		display: none;
	  }
	  .badge {
		border: 1px solid #000;
	  }
	  .table {
		border-collapse: collapse !important;
		border: 1px solid @lite-grey;
	  }
	  .table td,
	  .table th {
		background-color: #fff !important;
	  }
	  .table-bordered th,
	  .table-bordered td {
		border: 1px solid #dee2e6 !important;
	  }
	  .table-dark {
		color: inherit;
	  }
	  .table-dark th,
	  .table-dark td,
	  .table-dark thead th,
	  .table-dark tbody + tbody {
		border-color: #dee2e6;
	  }
	  .table .thead-dark th {
		color: inherit;
		border-color: #dee2e6;
	  }
	.bg-dark {
		background: none;
	} 
	.text-white {
		color: #000;
	}
	.print .btn {
		border: 1px solid #eee;
	}
}