/* Text Elements */

h1, h2, h3, h4, h5 {
	font-weight: 400;
}
h1, h2, h3 {
	.brandcolor;
}
h1.page-title {
	font-size: 2.25em;
	padding: 0.25em 0;
}
h1.section-title {
	font-size: 2.5em;
}
h2.section-title {
	font-size: 2.25em;
	padding-top: 0;
	margin-top: 0;
	line-height: 1;
	padding-bottom: 0.5em;
}
.aside-title {
	font-size: 2em;
	padding-top: 0;
	margin-top: 0;
	line-height: 1;
	padding-bottom: 0.5em;
}

p {
	line-height: 1.4;
	padding: 0;
	margin-bottom: 1em;
	font-weight: 300 !important;
	letter-spacing: 0.0666em;
}
strong {
	font-weight: 600;
}

.big {
	font-size: 1.33em;
	font-weight: 300;
	line-height: 1.2;
}
.small {
	font-size: 0.9em;
	font-weight: 300;
	line-height: 1.55;
}

a {
	.brandcolor;
	.animate-quick;
}
a:hover,
a:focus,
a:active {
	//color: #fff;
	.brandcolor-hover;
}

/* Forms */
// Form Elements
input[type=text],
input[type=tel],
input[type=email],
input[type=number],
input[type=password], 
textarea,
select {
  	.basefont !important;
}
option,
select option,
.browser-default.custom-select option {
	font-size: 1em !important;
}
.form-control {
    font-size: 1em;
 	font-weight: 300;
	text-shadow: none;
}
.form-control {
	//margin: 0 0 10px 0;
}
.custom-select {
	line-height: 1;
}
.adminForm label {
	font-size: 0.85em;
	font-weight: 400;
	line-height: 1;
}
.checkbox-wrap {
	padding-bottom: 1em;
}
p.checkbox {
	margin-bottom: 0;
}


@media (max-width: 736px) {
	.small {
		font-size: 1em;
	}
}