/* Text Elements */

h1, h2, h3, h4, h5 {
	font-weight: 400;
}
h1, h2, h3 {
	.brandcolor;
}
h1.page-title {
	font-size: 2.25em;
	padding: 0.25em 0;
}
h1.section-title {
	font-size: 2.5em;
}
h2.section-title {
	font-size: 2.25em;
	padding-top: 0;
	margin-top: 0;
	line-height: 1;
	padding-bottom: 0.5em;
}
.aside-title {
	font-size: 2em;
	padding-top: 0;
	margin-top: 0;
	line-height: 1;
	padding-bottom: 0.5em;
}

p {
	line-height: 1.4;
	padding: 0;
	margin-bottom: 1em;
	font-weight: 300 !important;
	letter-spacing: 0.0666em;
}
strong {
	font-weight: 600;
}

.big {
	font-size: 1.33em;
	font-weight: 300;
	line-height: 1.2;
}
.small {
	font-size: 0.9em;
	font-weight: 300;
	line-height: 1.55;
}

a {
	.brandcolor;
	.animate-quick;
}
a:hover,
a:focus,
a:active {
	//color: #fff;
	.brandcolor-hover;
}

.table .thead-dark th {
  color: #fff;
  background-color: #212529;
  border-color: #32383e;
}

@media (max-width: 736px) {
	.small {
		font-size: 1em;
	}
}