# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example.gitignore files : https://github.com/github/gitignore
_notes/
/bower_components/
/node_modules/
/BACKUP/
/api/
/MDB-Free/
/ajax/schedule/error_log
/ajax/report/error_log
/ajax/bunks/error_log
/ajax/admin/error_log
/js/addons/
/js/jQuery-Plugin-for-Adding-Custom-Value-to-Dropdown-List-Custom-Combo-Box/
/js/modules/
/inc/data-tables/
/inc/PHPMailer/
/inc/sendgrid-php/
/20190722 - Export/